/* 
    Document   : bnm_admin_custom_css
    Created on : Dec 3, 2013, 9:33:14 AM
    Author     : Md Mahbub Alam Khan
    Description:
        Purpose of the stylesheet follows.
*/

.bnm_slider {
  width: 300px;
  float: left;
  margin-top: 6px;
  margin-right: 21px;
  clear: both;
}

.bnm-input-small {
  width: 48px;
  text-align: center;
}

.bnm-input-medium {
  width: 60px;
}

.bnm-input-large {
  width: 90px;
}

.bnm-input-xlarge {
  width: 120px;
}

.bnm-uc {
  text-transform: uppercase;
}

.bnm-dn {
  display: none;
}

.update-nag {
  display: none;
}
#instructions {
  max-width: 670px;
}
h3.title {
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #ddd;
}
.new_version_box {
  background: #d54e21;
  padding: 0 5px;
  font-weight: bold;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/*------------------------------ Theme Builder. ---------------------------------*/

body.breaking-news_page_bwl-breaking-news-theme-options {
  margin-top: 32px;
}

body.breaking-news_page_bwl-breaking-news-theme-options #bwl_breaking_news_header_container {
  z-index: 100001;
}

body.breaking-news_page_bwl-breaking-news-theme-options .themebuilder-theme-title {
  width: 250px;
}

body.breaking-news_page_bwl-breaking-news-theme-options .themebuilder-color-box {
  width: 90px;
  text-align: center;
  text-transform: capitalize;
}

body.breaking-news_page_bwl-breaking-news-theme-options .themebuilder-align-center {
  text-align: center;
}

body.breaking-news_page_bwl-breaking-news-theme-options .edit img,
body.breaking-news_page_bwl-breaking-news-theme-options .delete img {
  opacity: 0.7;
  display: inline-block;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}

body.breaking-news_page_bwl-breaking-news-theme-options .edit img:hover,
body.breaking-news_page_bwl-breaking-news-theme-options .delete img:hover {
  transform: rotate(360deg);
  opacity: 1;
}
