.bnm_connected,
.sortable,
.exclude,
.handles {
  margin: auto;
  padding: 0;
  width: 310px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sortable.grid {
  overflow: hidden;
}
.bnm_connected li,
.sortable li,
.exclude li,
.handles li {
  background: #f6f6f6 none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #2c2c2c;
  cursor: move;
  font-family: inherit;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  list-style: outside none none;
  margin: 5px;
  padding: 5px;
}
.handles span {
  cursor: move;
}
li.disabled {
  opacity: 0.5;
}
.sortable.grid li {
  line-height: 80px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
}
li.highlight {
  background: #fee25f;
}
#bnm_connected {
  width: 100%;
  overflow: hidden;
  margin: auto;
  clear: both;
}
.bnm_connected {
  float: left;
  width: 48%;
  border: 1px solid #eeeeee;
  min-height: 250px;
  height: 250px;
  overflow-y: scroll;
}
.bnm_connected.bnm_cat,
.bnm_connected.bnm_tags {
  float: right;
  background: #fffff4;
  border: 1px solid #ccc;
}

.bnm_connected.bnm_cat li,
.bnm_connected.bnm_tags li {
  background: #fff;
}
li.sortable-placeholder {
  border: 1px dashed #ccc;
  background: none;
}

.bnm_tabs {
  width: 99%;
  min-height: 150px;
  height: 150px;
  overflow-y: auto;
}

/*  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }*/
