/*--- Introduction  ---*/

.plugin-info-wrap {
  font-size: 13px;
  h2 {
    margin: 0;
    padding: 0;
    text-align: left !important;
  }
}

.developer-info {
  font-size: 16px;
}

.welcome-hr {
  border: 0px;
  border-bottom: 1px solid #cccccc;
}
